<h1><%=@restaurant.name %></h1>
<ul>
  <li>
  <%=@restaurant.category%>
</li>
  <li>
  <%=@restaurant.address%>
</li>

<% @reviews.each do |review| %>
  <li> <%=review.content  %></li>
<% end %>


</ul>
